<?xml version="1.0" ?>
<config>
    <modules>
        <Genmato_StockUpdatePush>
            <version>0.1.0</version>
        </Genmato_StockUpdatePush>
    </modules>

    <global>
        <helpers>
            <genmato_stockupdatepush>
                <class>Genmato_StockUpdatePush_Helper</class>
            </genmato_stockupdatepush>
        </helpers>

        <models>
            <genmato_stockupdatepush>
                <class>Genmato_StockUpdatePush_Model</class>
            </genmato_stockupdatepush>
        </models>

        <events>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <genmato_stockupdatepush>
                        <class>genmato_stockupdatepush/observer</class>
                        <method>catalogInventorySave</method>
                    </genmato_stockupdatepush>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_model_service_quote_submit_before>
                <observers>
                    <genmato_stockupdatepush>
                        <class>genmato_stockupdatepush/observer</class>
                        <method>subtractQuoteInventory</method>
                    </genmato_stockupdatepush>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <genmato_stockupdatepush>
                        <class>genmato_stockupdatepush/observer</class>
                        <method>revertQuoteInventory</method>
                    </genmato_stockupdatepush>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <genmato_stockupdatepush>
                        <class>genmato_stockupdatepush/observer</class>
                        <method>cancelOrderItem</method>
                    </genmato_stockupdatepush>
                </observers>
            </sales_order_item_cancel>
            <sales_order_creditmemo_save_after>
                <observers>
                    <genmato_stockupdatepush>
                        <class>genmato_stockupdatepush/observer</class>
                        <method>refundOrderInventory</method>
                    </genmato_stockupdatepush>
                </observers>
            </sales_order_creditmemo_save_after>

        </events>

    </global>

    <default>
        <genmato_stockupdatepush>
            <configuration>
                <remote_type>GET</remote_type>
            </configuration>
        </genmato_stockupdatepush>
    </default>
</config>